*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a5f; 
    padding: 10px 0;
    border-bottom: 4px solid #dbd9d9;
}
.logo{
    font-size: 20px;
    color: white;
    margin-left: 100px;
}
.navigation ul {
    margin-right: 50px;
    display: flex;
}
.navigation ul li{
    list-style-type: none;
    margin: 0 10px;
   
}
.navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.5s;
}
.navigation ul li a:hover{
    background-color: black;
}


 /* hero area start here */
 header{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-image: url(image/BG\ image.jpg);
    background-size: cover;
 }
 .search-box-container{
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .search-box-container input{
    height: 30px;
    width: 300px;
    font-size: 18px;
    padding-left: 10px;
 }
 .search-icon{
    color: red;
    background-color: green;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: -5px;
    cursor: pointer;
 }

 /* main section start here */

 main{
    background-color: #0a0a5f;
 }

 /* latest-video-page  section start */
 #latest-video-section{
    width: 1100px;
    margin: auto;
    padding: 50px 0;
 }
 .latest-video-page-text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
 }
 .latest-video-text{
    font-size: 20px;
    color: white;
 }
 .latest-page-text h3{
    font-size: 20px;
    color: white;
 }
 .latest-page-text span{
    background-color: #9b9090;
    padding: 0 4px;
    color: black;
    border-radius: 5px;
 }
 #latest-video-items-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 20px;
 }
 .latest-video-items{
    height: 250px;
    border: 2px solid #d4d2d2;
 }

 #latest-video-items-parent img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
 }
 .latest-video-items:hover img{
    transform: scale(1.1);
    border-radius: 10px;
 }
 .latest-video-item-text{
    display: flex;
    justify-content: space-between;
   margin-top: 10px;
    color: gray;
 }

 /* previous-next-btn code start here */

 .previous-next-btn{
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
 }
 .previous-next-btn h3 a{
   text-decoration: none;
   background-color: #52bd52;
   color: white;
   padding: 10px 25px;
   border-radius: 5px;
   transition: 0.5s;
 }
 .previous-next-btn h3 a:hover{
   background-color: #044404;
 }
 .previous-next-btn div a{
   text-decoration: none;
   background-color: #d4d2d2;
   color: black;
   margin: 0 5px;
   padding: 5px;
   border-radius: 5px;
   border: 1px solid #3f3b3b;
 }
 .previous-next-btn div a:first-child{
   background-color: #52bd52;
   color: white;
 }
 /* footer section start here */
 footer{
   background-color: darkmagenta;
 }

 .footer-container{
   margin: auto;
   padding: 30px 0;
   width: 1000px;
   color: white;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 10px;
 }
 .footer-container a{
   text-decoration: none;
   color: white;
   
 }
 .f-first-div p{
   margin-top: 20px;
   margin-bottom: 40px;
 }
 .f-second-div ul{
   list-style-type: none;
  margin-top: 20px;
 }
 .f-second-div ul li{
   margin: 8px 0;
 }
 .f-third-div a{
   margin: 0 5px;
   padding: 5px 5px;
   background-color: black;
   border-radius: 6px;
 }
 .f-third-div p{
   width: 100px;
   margin-top: 20px;
   margin-bottom: 70px;
 }
